<nav class="absolute left-[50%] mt-12">
  <div class="relative left-[-50%]">
    <div class="flex flex-col items-center"> 
      <div class="flex justify-center">
        <%= image_tag("logo_manuel", alt: "Logo Mauel") %>
      </div>

      <ul class="flex gap-5">
        <li><%= link_to "Inicio", root_path %></li>
        <li><%= link_to "Blog", blog_posts_path %></li>
        <% if current_user %>
          <li><%= button_to "Cerrar sesión", destroy_user_session_path, :method => :delete, data: {turbo: false} %></li>
        <% else %>
          <li><%= link_to "Iniciar sesión", new_user_session_path %></li>
        <%end%> 
      </ul>
    </div>
  </div>
</nav>